<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New ChatGPT 2.0</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/css/main.css" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet">
        <link rel="icon" href="static/assets/favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    </head>
    <body class="bg-chatBox-50 font-family: 'Poppins', sans-serif;">
        <div class="flex h-[100vh] text-white">
            <div class="left bg-white w-2/12 text-black">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero illo error explicabo itaque facilis tenetur incidunt, esse, sint at omnis eligendi, architecto cumque! Non nam deserunt tempora expedita obcaecati iste!
            </div>  
            <div class="right w-10/12 flex justify-center items-center flex-col">
                <div class="text-center w-full text-3xl font-bold my-10">
                    ChatGPT 2.0
                </div>
                <div class="itemsrow flex py-4 w-[43vw] justify-around">
                    <div class="examples flex flex-col justify-center items-center">
                        <svg stroke="currentColor" fill="none" stroke-width="1.5" viewBox="0 0 24 24" stroke-linecap="round"
                            stroke-linejoin="round" class="h-6 w-6" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="5"></circle>
                            <line x1="12" y1="1" x2="12" y2="3"></line>
                            <line x1="12" y1="21" x2="12" y2="23"></line>
                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                            <line x1="1" y1="12" x2="3" y2="12"></line>
                            <line x1="21" y1="12" x2="23" y2="12"></line>
                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                        </svg>
                        <div class="py-4">Examples</div>
                        <button
                            class="bg-gray-600 w-[13vw] text-sm hover:bg-gray-700 py-4 px-4 mx-4  my-2 rounded-md">"Explain
                            quantum computing in simple terms" →</button>
                        <button class="bg-gray-600 w-[13vw] text-sm hover:bg-gray-700 py-4 px-4 mx-4  my-2 rounded-md">"Got
                            any creative ideas for a 10 year old’s birthday?" →</button>
                        <button class="bg-gray-600 w-[13vw] text-sm hover:bg-gray-700 py-4 px-4 mx-4  my-2 rounded-md">"How
                            do I make an HTTP request in Javascript?" →</button>
                    </div>
                    <div class="cap flex flex-col justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true" class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"></path>
                        </svg>
                        <div class="py-4">Capabilities</div>
                        <button
                            class="bg-gray-600 w-[13vw] text-sm hover:bg-gray-700 py-4 px-4 mx-4  my-2 rounded-md">Remembers
                            what user said earlier in the conversation</button>
                        <button
                            class="bg-gray-600 w-[13vw] text-sm hover:bg-gray-700 py-4 px-4 mx-4  my-2 rounded-md">Allows
                            user to provide follow-up corrections</button>
                        <button
                            class="bg-gray-600 w-[13vw] text-sm hover:bg-gray-700 py-4 px-4 mx-4  my-2 rounded-md">Trained
                            to decline inappropriate requests</button>
                    </div>
    
                    <div class="lim flex flex-col justify-center items-center">
                        <svg stroke="currentColor" fill="none" stroke-width="1.5" viewBox="0 0 24 24" stroke-linecap="round"
                            stroke-linejoin="round" class="h-6 w-6" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z">
                            </path>
                            <line x1="12" y1="9" x2="12" y2="13"></line>
                            <line x1="12" y1="17" x2="12.01" y2="17"></line>
                        </svg>
                        <div class="py-4">Limitations</div>
                        <button class="bg-gray-600 w-[13vw] text-sm hover:bg-gray-700 py-4 px-4 mx-4  my-2 rounded-md"> May
                            occasionally generate incorrect information</button>
                        <button class="bg-gray-600 w-[13vw] text-sm hover:bg-gray-700 py-4 px-4 mx-4  my-2 rounded-md">May
                            occasionally produce harmful instructions or biased content</button>
                        <button
                            class="bg-gray-600 w-[13vw] text-sm hover:bg-gray-700 py-4 px-4 mx-4  my-2 rounded-md">Limited
                            knowledge of world and events after 2021</button>
                    </div>
                </div>
                    <div class="examples"></div>
                    <div class="capabilities"></div>
                    <div class="limitations"></div>
                </div>
            </div>
        </div>
    </body>
</html>