.chat:hover {
    background-color:#09005A;
    border-color: #09005A;
    .messageSVG{
        fill: #09005A;
        stroke: #FFFFFF;
    }
    .copySVG{
        fill: #09005A;
        stroke: #FFFFFF;
        opacity: 1;
    }
}
.newChatB:hover{
    background-color:#FFFFFF;
    color: #09005A;
    border-left-color: #09005A;
    border-color: #09005A;
}