body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    margin: 5vh 15%;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

img {
    width: 50%;
    height: auto;
}

p {
    text-align: justify;
    font-size: 18px;
}

label {
    position: absolute;
    width: 45px;
    height: 24px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
}

label:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 19px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    transition: 0.4s;
}

label.active:before {
    left: 24px;
    background: #fff;
}

body.night {
        background:rgb(9, 0, 90);
    
    .main {
        background: rgb(194, 170, 170);
        color:white;
    }
    
    .left {
        background: #fc0303;
        box-shadow: 2px 1px 5px 2px rgb(0, 0, 0);
    }
    
    .newChatB {
        background:rgb(9, 0, 90);
        border-color: rgb(9, 0, 90);
    }
    
    #plusNewChat {
        stroke: #ffffff;
        fill: none;
    }
    
    #newChatBname {
        color: #ffffff;
    }
    
    .RecentSearch {
        color:rgb(9, 0, 90);
    }
    
    .chats {
        background:none;
    }
    
    .chat{
        border-left: rgb(9, 0, 90);
        background: #ffffff;
        color: #000;
        box-shadow: 1px 1px 1px 1px rgb(192, 190, 190);
    }
    
    #bubbleMessageSVG {
        stroke: #000000;
        fill: #ffffff;
    }
    
    #chatQuestion {
        color: rgb(0, 0, 0);
    }
    
    .dropdown {
        background-color: white;
        color: black;
    }
    
    .ddButton {
        background:none;
        color: black;
    }
    
    #threeDots {
        fill: #000000;
    }
    
    .ddcontent {
        background-color: white;
    }
    
    .chat-entry {
        background: none;
    }
    
    .delete-button {
        background: none;
    }
    
    #deleteQuerySVG {
        stroke: #000000;
        fill: #ffffff;
    }
    
    #copySVG {
        stroke: #000000;
        fill: #ffffff;
    }
    
    #copyToSendBarSVG {
        stroke: #000000;
        fill: #ffffff;
    }
    
    .right1 {
        background: none;
    }
    
    .gptTitle {
     color: #ffffff;
    }
    
    .itemsrow {
        background: none;
    }
    
    .ex {
        background: none;
    }
    
    #exSVG {
        stroke: #ffffff;
        fill: none;
    }
    
    .exB1 {
        background:rgb(255, 255, 255);
        color: #000;
    }
    
    .exB2 {
        background:rgb(255, 255, 255);
        color: #000;
    }
    
    .exB3 {
        background:rgb(255, 255, 255);
        color: #000;
    }
    
    .cap {
        background: none;
    }
    
    #capSVG {
        stroke: #ffffff;
        fill: none;
    }
    
    .capB1 {
        background:rgb(255, 255, 255);
        color: #000;
    }
    
    .capB2 {
        background:rgb(255, 255, 255);
        color: #000;
    }
    
    .capB3 {
        background:rgb(255, 255, 255);
        color: #000;
    }
    
    .lim {
        background: none;
    }
    
    #limSVG {
        stroke: #ffffff;
        fill: none;
    }
    
    .limB1 {
        background:rgb(255, 255, 255);
        color: #000;
    }
    
    .limB2 {
        background:rgb(255, 255, 255);
        color: #000;
    }
    
    .limB3 {
        background:rgb(255, 255, 255);
        color: #000;
    }
    
    .input {
        background: none;
    }
    
    .buttonsvg {
        background: none;
    }
    
    .sendBar {
        background:rgb(255, 255, 255);
        color: #000;
    }
    
    #sendButton {
        background: none;
    }
    
    #sendButtonSVG {
        stroke: #000000;
        fill: none;
    }
    
    .textUnderSendBar {
        color: #ffffff;
    }
    .right2{
        background: none;
    }
    .box1{
        background: none;
    }
    #userImg{
        background: none;
    }
    #question2{
        color: rgb(255, 0, 0);
    }
    .box2{
        background: #ffffff;
    }
    .box{
        background: none;
    }
    #chatGPTicon{
        background: none;
    }
    #solutionContent{
        background: none;
    }
    #question1{
        background: none;
        color: #000;
    }
    #solution{
        background: none;
        color: #000;
    }
}

@media screen and (min-width: 900px) {
    .respon {
        display: flex;
    }

    img {
        height: 50%;
        width: auto;
        padding-top: 3vh;
        padding-right: 5%;
    }

    p {
        max-width: 80%;
        line-height: 30px;
    }
}
