.dropdown{
    display: inline-block;
}
.dropdown .ddButton{

    border: none;
    cursor: pointer;
    opacity: 0.4;
}
.dropdown .ddcontent{
    display: none;
}
.dropdown:hover .ddcontent{
    align-items: center;
    justify-content: center;
    display:inline-flex;
}
.dropdown:hover .ddButton{
    opacity: 1;
}
#deleteQuerySVG{
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
}
#copySVG{
    margin-left: 5px;
    margin-right: 5px;
}
#copyToSendBarSVG{
    margin-bottom: 1px;
    margin-left: 2px;
    margin-right: 2px;
}


