.body{
    background:none;
}

.main {
    background: #FEF2F2;
    color:#495E57;
}
.left {
    background: #f5c85f;
    color:#495E57;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}

.newChatB {
    background:#FEF2F2;
    border-color: black;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#plusNewChat {
    stroke: #000000;
    fill: none;
}

#newChatBname {
    color:#000000;
}

.RecentSearch {
    color:rgb(0, 0, 0);
}

.chats {
    background:none;
}

.chat{
    border-width: 0px;
    border-style: solid;
    border-color: #F03861;
    background: #ffffff;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: #000;
    border-left-width: 8px;
}

#bubbleMessageSVG {
    stroke: #000000;
    fill: #ffffff;
}

#chatQuestion {
    color: rgb(0, 0, 0);
}

.dropdown {
    background-color: white;
    color: black;
}

.ddButton {
    background:none;
    color: black;
}

#threeDots {
    fill: #000000;
}

.ddcontent {
    background-color: NONE;
}

.chat-entry {
    background: none;
}

.delete-button {
    background: none;
}

#deleteQuerySVG {
    stroke: #000000;
    fill: #ffffff;
}

#copySVG {
    stroke: #000000;
    fill: #ffffff;
}

#copyToSendBarSVG {
    stroke: #000000;
    fill: #ffffff;
}

.right1 {
    background: none;
}

.gptTitle {
 color: #000000;
}

.itemsrow {
    background: none;
}

.ex {
    background: none;
}

#exSVG {
    stroke: #000000;
    fill: none;
}

.exB1 {
    background:#f5c85f;
    color: #000;
    border-width: 0px;
    border-style: solid;
    border-color: #F03861;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.exB2 {
    background:#f5c85f;
    color: #000;
    border-width: 0px;
    border-style: solid;
    border-color: #F03861;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.exB3 {
    background:#f5c85f;
    color: #000;
    border-width: 0px;
    border-style: solid;
    border-color: #F03861;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.cap {
    background: none;
}

#capSVG {
    stroke: #000000;
    fill: none;
}

.capB1 {
    background:#f5c85f;
    color: #000;
    border-width: 0px;
    border-style: solid;
    border-color: #F03861;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.capB2 {
    background:#f5c85f;
    color: #000;
    border-width: 0px;
    border-style: solid;
    border-color: #F03861;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.capB3 {
    background:#f5c85f;
    color: #000;
    border-width: 0px;
    border-style: solid;
    border-color: #F03861;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.lim {
    background: none;
}

#limSVG {
    stroke: #000000;
    fill: none;
}

.limB1 {
    background:#f5c85f;
    color: #000;
    border-width: 0px;
    border-style: solid;
    border-color: #F03861;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.limB2 {
    background:#f5c85f;
    color: #000;
    border-width: 0px;
    border-style: solid;
    border-color: #F03861;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.limB3 {
    background:#f5c85f;
    color: #000;
    border-width: 0px;
    border-style: solid;
    border-color: #F03861;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.input {
    background: none;
}

.buttonsvg {
    background: none;
}

.sendBar {
    background:#F03861;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

input.sendBar::placeholder {
    color: rgb(255, 255, 255);
}

#sendButton {
    background: none;
}

#sendButtonSVG {
    stroke: #ffffff;
    fill: none;
}

.textUnderSendBar {
    color: #000000;
    font-weight: bold;
}
.right2{
    background: none;
}
.box1{
    background: #F03861;
    color: #FEF2F2;
    border-radius: 10px;
}
#question2{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.box2{
    background: #f5c85f;
    border-radius: 10px;
}
.box{
    background: none;
}
#chatGPTicon{
    background: none;
}
#solutionContent{
    background: none;
}
#question1{
    background: none;
    font-weight: bold;
    color: #000;
}
#solution{
    background: none;
    color: #000;
}
#sendAnewMessageSVG{
    stroke: #000000;
}