/* 
Background Colors:
#FEF2F2 - Light pinkish background.
#f5c85f - Yellowish background.
#F03861 - Dark pinkish background.
#ffffff - White background.

Text Colors:
#000000 - Black text color.
#FEF2F2 - White text color.
#ffffff - White text color.
#000000 - Black text color.

Border Colors:
#000000 - Black border color.
#F03861 - Dark pinkish border color.

Box Shadow Colors:
#000000 - Black box shadow color.
*/


#theme-change-svg-ID {
    position: absolute;
    width: auto;
    height: 40px;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

#theme-change-svg-ID:before {
    position: absolute;
    content: '';
    border-radius: 50%;
    background: none;
    cursor: pointer;

}

.light-theme {
    
    .main {
        background: #e91b1b;
        color:#495E57;
    }
    .left {
        background: #f5c85f;
        color:#495E57;
        box-shadow: 1px 1px 1px 1px #000000;
    }
    
    .new-chat-B {
        background:#FEF2F2;
        border-color: #000000;
        box-shadow: 1px 1px 2px #000000;
    }
    
    #new-chat-B-text-ID {
        color:#000000;
    }
    
    .content {
        color:#000000;
    }
    
    .search-chat{
        border-width: 0px;
        border-style: solid;
        border-color: #F03861;
        background: #ffffff;
        box-shadow: 1px 1px 2px rgb(0, 0, 0);
        color: #000000;
        border-left-width: 8px;
    }
    
    #chat-question-ID {
        color: rgb(0, 0, 0);
    }
    
    .dropdown {
        background-color: #ffffff;
        color: #000000;
    }
    
    .dropdown-B {
        color: #000000;
    }
    
    .text-title {
     color: #000000;
    }
    
    .examples-text{
        color: #000000;
    }
    
    .exB1 {
        background:#f5c85f;
        color: #000000;
        border-width: 0px;
        border-style: solid;
        border-color: #F03861;
        box-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    .exB2 {
        background:#f5c85f;
        color: #000000;
        border-width: 0px;
        border-style: solid;
        border-color: #F03861;
        box-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    .exB3 {
        background:#f5c85f;
        color: #000000;
        border-width: 0px;
        border-style: solid;
        border-color: #F03861;
        box-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    .capabilities-text{
        color: #000000;
    }
    
    .capB1 {
        background:#f5c85f;
        color: #000000;
        border-width: 0px;
        border-style: solid;
        border-color: #F03861;
        box-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    .capB2 {
        background:#f5c85f;
        color: #000000;
        border-width: 0px;
        border-style: solid;
        border-color: #F03861;
        box-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    .capB3 {
        background:#f5c85f;
        color: #000000;
        border-width: 0px;
        border-style: solid;
        border-color: #F03861;
        box-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    .limitations-text {
        color: #000000;
    }
    
    .limB1 {
        background:#f5c85f;
        color: #000000;
        border-width: 0px;
        border-style: solid;
        border-color: #F03861;
        box-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    .limB2 {
        background:#f5c85f;
        color: #000000;
        border-width: 0px;
        border-style: solid;
        border-color: #F03861;
        box-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    .limB3 {
        background:#f5c85f;
        color: #000000;
        border-width: 0px;
        border-style: solid;
        border-color: #F03861;
        box-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    .input-bar {
        background:#F03861;
        color: #ffffff;
        font-weight: bold;
        box-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    input.input-bar::placeholder {
        color: #ffffff;
    }
    
    .text-under-input-bar {
        color: #000000;
        font-weight: bold;
    }
    
    #top-box-content-ID{
        color: #000000;
    }
    
    .user-question-box{
        background: #F03861;
        color: #FEF2F2;
        border-radius: 10px;
    }
    
    #user_question_ID{
        color: #ffffff;
        font-weight: bold;
    }
    
    .answer-box{
        background: #f5c85f;
        border-radius: 10px;
    }
    
    #user_sol_w_question_ID{
        font-weight: bold;
        color: #000000;
    }
    #answer_ID{
        color: #000000;
    }
    
    .send-a-new-message-bar-B{
        background:#FEF2F2;
        border-color: #000000;
        box-shadow: 1px 1px 2px #000000;
    }
    
    #send-a-new-message-bar-B-text-ID{
        color: #000000;
    }
    #send-2-svg-ID{
        stroke: #000000;
    }
    
    
}

@media screen and (min-width: 900px) {
    .respon {
        display: flex;
    }
}
