.body{
    background:none;
}

.all-chats {
    background:none;
}
.dropdown-content {
    background-color: none;
}

.chat-entry {
    background: none;
}

.delete-button {
    background: none;
}

.delete-query {
    background: none;
}

.right1 {
    background: none;
}

.items-row {
    background: none;
}

.examples {
    background: none;
}

.capabilities {
    background: none;
}

.limitations {
    background: none;
}

.input-send-bar {
    background: none;
}

#send-button {
    background: none;
}

.input-send-bar {
    background: none;
}

.right2{
    background: none;
}

.top-box{
    background:none;
}

.break-ques-ans{
    background: none;
}

.ques-ans-box{
    background: none;
}

#ai-img-ID{
    background: none;
}

#ans-content_ID{
    background: none;
}

.send-a-new-message-bar{
    background: none;
}

.send-svgs{
    display: flex;
    align-items: center;
}